@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body{
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: inherit ;
    text-decoration: none;
    transition-duration: 0.1s;
}

a:hover{
    color: #F15156;
}

.login-form__error-label{
    margin: 1em;
    font-weight: bold;
    animation-duration: 0.5s;
    animation-name: loginFormAnimation;
    animation-timing-function: ease-in-out;
}

@keyframes loginFormAnimation {
    from{
        color: black;
    }

    30%{
        color: red;
    }

    to{
        color: black;
    }
}